*{
    color: antiquewhite;
    text-decoration: none;
    margin:0;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    
    color: #ededed;
    background: #081b29;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration:none;
    font-weight: 600;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
   
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}


.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}


.home{
    height: 105vh;
    background: url(./assets/hero-img.png.webp)no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.home-content{
    max-width: 600px;

}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
   
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color:#00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
   
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
   
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
   
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color:#00abf0
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;

}

@keyframes showRight{
    100%{
        width: 0;
    }

}


.about{
    width: 100%;
    padding: 7px 0px;
    background-color: #ededed;
}

.about img{
    height: auto;
    width: 420px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: #101010;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #00abf0;
}

.about-text p{
    color: #101010;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}

button{
    background: #00abf0;
    color: #ededed;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}

button:hover{
    background: transparent;
    border: 2px solid #00abf0;
    cursor: pointer;

}

.Services{
    background: #101010;;
    width: 100%;
    padding: 100px 0px;

}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.para p{
    color: #00abf0;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;


}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;

}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card span{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #00abf0;

}

h5{
    font-size: 23px;
    margin-bottom: 15px;

}

.pra p{
    color: #00abf0;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card .button{
    background: #00abf0;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;


}

.card .button:hover{
    background: transparent;
    border: 2px solid #00abf0;
    cursor: pointer;

}

.Jayesh{
    padding: 120px 0;
    background:#00abf0;
}

.Container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.single{
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.single h1{
    font-weight: 700;
    font-size: 36px;
}

.Portfolio{
    padding: 120px 0;
}

.container{
    max-width: 1140;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    justify-content: center;
   
}

.menu-content{
    padding-bottom: 70px;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.title{
    text-align: center;
}

.counter h1{
    margin-bottom: 10px;
    
}

h1{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: #ededed;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

p{
    margin-top: 13px;
    
}

.rew{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px 15px;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
   
}

.filter-content{
    padding: 50px 0;
}

.relative{

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.row{position: relative;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.work-list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    margin-top: 0px;
}

.work img{
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}

.contact-left{
    flex-basis: 35%;
    margin-top: 95px;

}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-right form{
    width: 100%;

}

form input,form textarea{
    border-radius: 10px;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    
}


